<a href="https://colab.research.google.com/github/GuilleC1987/Tarea1_AIML/blob/main/proyectoPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Nombre: Jorge Guillermo Cañas Magaña
# Link github: https://github.com/GuilleC1987/Tarea1_AIML
!pip install ydata-profiling -q
from ydata_profiling import ProfileReport
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Link kaggle goodreadsbooks data set https://www.kaggle.com/datasets/jealousleopard/goodreadsbooks
# Se utiliza el parámetros encoding para evitar error de interpretación al momento de que python lea el archivo y encuentre caracteres especiales.
# Se utiliza el parámetros on_bad_lines para saltar lineas del archivo original en donde se tienen valores fuera de las columnas originales de la tabla.

df_books = pd.read_csv('books.csv', encoding="latin1", on_bad_lines='warn')
df_books.head()

In [ ]:
#Haciendo uso de shape se obtiene el número de filas y columnas en el data set,
df_books.shape

In [ ]:
#A través de la funcion info se identifica el tipo de dato en cada columna,
df_books.info()

In [5]:
#Ejecutando la siguiente linea de código se da formato a los valores arrojados por pandas, con el fin de obtener valores tipo float con dos decimales. En un primer intento se obtuvo resultados con
# el formato por default en notación cientifica.
pd.set_option('display.float_format', '{:.2f}'.format)

In [ ]:
df_books.describe().transpose()

Al análisar el resultado de la función describe se puede concluir lo siguiente del dataframe books:
- En el data set la mayoría de libros tienen una buena calificación, la media del averga_raiting es 3.93 y el 75% de los libros han sido calificados con raitings superiores a 3.77.
- Adicionalmente, se puede concluir que la mayoría de libros son extensos en su número de páginas, la media es de 336 y casi el 75% de los libros son más extensos a 200 páginas.
- En las siguientes secciones de este notebook se identificará el libro con mayor número de páginas.
- Además, para la columna num_pages, se observa que el mínimo valor es cero, lo cual no tiene mucho sentido. Se contabilizaran e identificar estos caso para determinar si puede alterar o ensuciar los resultados posteriores.
- Finalmente, se identifican libros sin raiting_counts y text_reviews_count, lo cual es factible.

In [ ]:
#En la base al resultado de la linea anterior, se desea identificar el nombre del libro más extenso, el cual según resultado tiene 6576 páginas.
#En un primer intento, al ejecutar el filtrado de la fila se obtuvo un error, ya que la columna en el dataset original tiene un espacio al inicio del nombre,
#el cual se eliminó haciendo uso de la función srt.strip.
df_books.columns = df_books.columns.str.strip()
df_books[df_books['num_pages']==6576]

In [ ]:
#Se contabiliza el número de libros con cero como valor en num_pages
len(list(df_books[df_books['num_pages']==0]['title']))

In [ ]:
# Se identifican 76 libros cuyo valor num_pages es igual a cero. Muy probablemente el creador del data set goodreadsbooks hizo el reemplazo de valores nulos por ceros.
# Dejo constancia y link de kaggle en donde obtuve el dataset para comprobación de la limpieza efectuada por el creador.
# Sin embargo, debido a la gran cantidad de filas en el data set (11123.00), reemplazar por ceros el valor de num_pages en 76 filas no tendrá mayor efecto distorcionador en los resultados
#del EDA y análisis siguientes.
list(df_books[df_books['num_pages']==0]['title'])

In [10]:
#Se identifican combinaciones de título y autor repetidas dentro del data set
df_books.value_counts(['title', 'authors'])[lambda x: x > 1]

title                                                                   authors
Memoirs of a Geisha                                                     Arthur Golden                               5
One Hundred Years of Solitude                                           Gabriel GarcÃ­a MÃ¡rquez/Gregory Rabassa    5
'Salem's Lot                                                            Stephen King                                5
Sula                                                                    Toni Morrison                               4
White Teeth                                                             Zadie Smith                                 4
                                                                                                                   ..
The Wonderful Story of Henry Sugar and Six More                         Roald Dahl                                  2
Human Traces                                                            Sebastian Faulks                            2
Haruki Murakami and the Music of Words                                  Jay Rubin                                   2
I Don't Know How She Does It (Kate Reddy  #1)                           Allison Pearson                             2
Bargaining for Advantage: Negotiation Strategies for Reasonable People  G. Richard Shell                            2
Name: count, Length: 263, dtype: int64

In [ ]:
#Se identifican combinaciones de título, autor y editorial repetidas dentro del data set
df_books.value_counts(['title', 'authors','publisher'])[lambda x: x > 1]

In [12]:
#Se revisa la distribución de libros por el idioma
df_books.value_counts('language_code')[:10]

language_code
eng      8908
en-US    1408
spa       218
en-GB     214
fre       144
ger        99
jpn        46
mul        19
zho        14
grc        11
Name: count, dtype: int64

In [ ]:
#Se identifican autores con más libros en la base
df_books.value_counts('authors')[lambda x: x > 1][:5]

In [14]:
#Se identifican editoriales con más libros en la base
df_books.value_counts('publisher')[lambda x: x > 1][:5]

publisher
Vintage             318
Penguin Books       261
Penguin Classics    184
Mariner Books       150
Ballantine Books    144
Name: count, dtype: int64

In [ ]:
#Se ejecuta ProfileReport de ydata_profiling para completar el EDA
report = ProfileReport(df_books)
report.to_file(output_file='output.html')

In [ ]:
#Se corrobora que el data set no tiene null values.
df_books.isnull().sum()

In [ ]:
sns.pairplot(df_books);

De los graficos anteriores el análisis se centrará en average_rating,  num_pages, ratings_count y text_reviews_count, ya que el resto de campos númericos identificadores.

- En general, los libros del data set están bien calificados, con un average_rating entre 3 y 5. Unicamente casos bien particulares están fuera de este rango.
- Además, se observa en el análisis descriptivo y en el gráfico que la mayoria de los libros han sido calificados por al menos por 100 lectores. Es decir, que se tiene una buena cantidad de datos para concluir que los libros en su mayoría son buenos libros.
- Revisando la relación entre average_rating y text_reviews_count, se observa que, si bien es cierto se tienen altos valores de average_rating, una menor cantidad de personas han dejado sus comentarios. Los lectores tienden a obviar esta sección.